{% include 'dashboard/header.html' %}

<div class="auth-bg-image">
    <div class="container sign-in-container">
        <main class="form-signin">
            <form>
                <h1 class="h3 mb-3 fw-normal text-light">Log In</h1>
                <div class="form-floating text-color-red">
                    <input type="email" class="form-control auth-form" id="floatingInput"
                           placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating pb-4 mt-3">
                    <input type="password" class="form-control auth-form" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="btn btn-info w-100 py-2" type="submit">Log In</button>
                <p class="auth-form-text mb-1 pt-3">Don't have an account?</p>
                <button class="btn btn-info btn-reg w-100 py-2" type="submit">Register</button>
            </form>
        </main>
    </div>
</div>


{% include 'dashboard/footer.html' %}