{% load static %}

<!--  FOOTER  -->
<footer>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-center align-items-center py-5">
            <div class="col-md-8 order-md-1 d-flex align-items-center py-3 scale-padding-768">
                <div class="pr-3">
                    <svg height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"
                         fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path style="fill:#0dcaf0;"
                                  d="M154.456,230.368l-133.6,126.904C60.096,448.272,150.592,512,256,512c141.384,0,256-114.616,256-256 c0-30.624-5.4-59.992-15.264-87.208L292.184,371.056L154.456,230.368z"></path>
                            <path style="fill:#ffffff;"
                                  d="M256,0C114.616,0,0,114.616,0,256c0,13.872,1.136,27.464,3.264,40.736l152.632-144.968 l136.936,139.896l177.536-175.552C424.656,46.224,345.752,0,256,0z"></path>
                        </g>
                    </svg>
                </div>
                <span class="mb-md-0 text-light text-center">Handcrafted by me © 2024</span>
            </div>

            <ul class="nav col-md-4 order-md-2 justify-content-end list-unstyled d-flex">
                <li class="ms-1"><a class="svg-social-btn" href="https://github.com/georgebrnv" id="github"
                                    target="_blank">
                    <svg class="svg-social-btn" fill="#fff" width="50px" height="50px" viewBox="-1.5 0 19 19"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.917 1.666V17.5h-5.15c-.424 0-.557-.238-.557-.455 0-.266.01-1.141.01-2.226a1.935 1.935 0 0 0-.552-1.502c1.808-.202 3.706-.887 3.706-4.005a3.134 3.134 0 0 0-.834-2.177 2.914 2.914 0 0 0-.081-2.147s-.68-.218-2.23.832a7.684 7.684 0 0 0-4.063 0c-1.55-1.05-2.23-.832-2.23-.832a2.918 2.918 0 0 0-.08 2.147 3.142 3.142 0 0 0-.835 2.177c0 3.11 1.894 3.806 3.696 4.011a1.737 1.737 0 0 0-.516 1.084 1.726 1.726 0 0 1-2.361-.674 1.706 1.706 0 0 0-1.243-.836s-.793-.01-.056.494a2.145 2.145 0 0 1 .9 1.187s.478 1.578 2.735 1.088c.004.676.01 1.186.01 1.38 0 .214-.147.454-.553.454H.083V1.666z"></path>
                    </svg>
                </a></li>
                <li class="ms-1"><a class="" href="https://twitter.com/georgebrnv" id="twitter"
                                    target="_blank">
                    <svg class="svg-social-btn" fill="#fff" width="50px" height="50px" viewBox="-1.5 0 19 19"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.917 1.666v15.833H.083V1.666zM13.743 6.02a4.702 4.702 0 0 1-1.353.37 2.365 2.365 0 0 0 1.036-1.303 4.725 4.725 0 0 1-1.496.572 2.359 2.359 0 0 0-4.017 2.149 6.685 6.685 0 0 1-4.856-2.462 2.357 2.357 0 0 0 .728 3.146 2.339 2.339 0 0 1-1.067-.295v.03a2.359 2.359 0 0 0 1.89 2.311 2.362 2.362 0 0 1-1.064.04 2.36 2.36 0 0 0 2.202 1.637 4.733 4.733 0 0 1-2.928 1.01 4.838 4.838 0 0 1-.562-.034 6.702 6.702 0 0 0 10.318-5.647c0-.102-.002-.203-.007-.304a4.785 4.785 0 0 0 1.176-1.22z"></path>
                    </svg>
                </a></li>
                <li class="ms-1"><a class="" href="https://www.linkedin.com/in/egorbarinov/"
                                    id="linkedin" target="_blank">
                    <svg class="svg-social-btn" fill="#fff" width="50px" height="50px" viewBox="-1.5 0 19 19"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.917 17.5H.083V1.666h15.834zM5.77 6.427a.96.96 0 0 0-1.032-.96.962.962 0 1 0-.025 1.92h.013a.963.963 0 0 0 1.044-.96zm-.123 1.719H3.803v5.552h1.845zm6.658 2.368c0-1.705-.91-2.5-2.125-2.5a1.832 1.832 0 0 0-1.663.917v-.786H6.67c.025.52 0 5.554 0 5.554h1.848v-3.102a1.264 1.264 0 0 1 .06-.45 1.011 1.011 0 0 1 .946-.676c.67 0 .936.51.936 1.256V13.7h1.846zm-3.8-1.564.013-.019v.019z"></path>
                    </svg>
                </a></li>
                <li class="ms-1"><a class="" href="mailto:egor.barinov.us@gmail.com" id="mail">
                    <svg class="svg-social-btn" fill="#fff" width="50px" height="50px" viewBox="-1.5 0 19 19"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.917 1.666v15.833H.083V1.666zM2.392 12.269l3.795-2.433-3.795-2.798zm.98-5.492L7.078 9.51a1.668 1.668 0 0 0 1.824 0l3.704-2.732zm8.937 5.615-3.227-2.07a2.517 2.517 0 0 1-2.186 0l-3.23 2.07zm1.277-5.354L9.791 9.837l3.795 2.434z"></path>
                    </svg>
                </a></li>
            </ul>
        </footer>
    </div>
</footer>

<!-- Cookies.js -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<!-- Include HTMX library -->
<script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
<!-- Phantom.js -->
<script src="https://solana-labs.github.io/phantom-wallet/browser/phantom.js"></script>
<!-- Chart.js script -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Local script files -->
<script src="{% static 'dashboard/script/script.js' %}"></script>
<script src="{% static 'dashboard/script/chart_script.js' %}"></script>
<script src="{% static 'dashboard/script/solana_wallet_connect.js' %}"></script>
<!--  BOOTSTRAP SCRIPT  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>