{% load static %}

<!-- HEADER -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/header.css' %}">
    <!-- Slick slider library -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <!--  BOOTSTRAP CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="bg-theme-color">

<header class="nav-bar">
    <nav class="navbar navbar-expand-lg py-3" id="navbar" style="navbar-color: rgba(0, 0, 0, 0.55)">
        <div class="container px-1">

            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">

                <!--  SVG ICON  -->
                <div class="px-3">
                    <svg height="40px" width="40px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 512 512" xml:space="preserve"
                         fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path style="fill:#0dcaf0;"
                                  d="M154.456,230.368l-133.6,126.904C60.096,448.272,150.592,512,256,512c141.384,0,256-114.616,256-256 c0-30.624-5.4-59.992-15.264-87.208L292.184,371.056L154.456,230.368z"></path>
                            <path style="fill:#ffffff;"
                                  d="M256,0C114.616,0,0,114.616,0,256c0,13.872,1.136,27.464,3.264,40.736l152.632-144.968 l136.936,139.896l177.536-175.552C424.656,46.224,345.752,0,256,0z"></path>
                        </g>
                    </svg>
                </div>

                <a href="{% url 'index' %}" class="nav-link text-white nav-name-text">Track<span
                        class="text-info">off</span></a>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="nav nav-bar-text col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'index' %}" class="nav-link text-white px-2">Home</a></li>
                    <li><a href="#" class="nav-link px-2 text-white"
                           onclick="scrollToElement('targetElement')">Features</a>
                    </li>
                    <li><a href="{% url 'portfolio' %}" class="nav-link px-2 text-white">Portfolio</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 search-formm px-1" role="search">
                    <input type="search" class="form-control nav-search-btn" placeholder="Coin, wallet address..."
                           aria-label="Search">
                </form>

                <div class="row justify-content-center align-items-center text-end me-2">
                    <a href="{% url 'login' %}" class=" col-auto btn login-btn me-2">Login</a>
                    <a href="{% url 'register' %}" class=" col-auto btn btn-info btn-upd">Get Started</a>
                    <div class="col-auto dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://t3.ftcdn.net/jpg/00/64/67/80/360_F_64678017_zUpiZFjj04cnLri7oADnyMH0XBYyQghG.jpg"
                             alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" style="">
                        <li><a class="dropdown-item" href="{% url 'portfolio' %}">Portfolio</a></li>
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
                </div>



            </div>
        </div>
    </nav>
</header>
