{% include 'dashboard/header.html' %}

<div class="container col-md-8 pt-5">
    <div class="card profile-card px-3 py-2">
        <div class="card-body">
            <div class="row align-items-center">

                <div class="col-md-6 order-md-2">
                    <a class="profile-pic my-2">
                        <img src="https://t3.ftcdn.net/jpg/00/64/67/80/360_F_64678017_zUpiZFjj04cnLri7oADnyMH0XBYyQghG.jpg"
                         alt="mdo" width="232" height="232" class="rounded-circle img-fluid">
                    </a>
                </div>

                <div class="col-md-6 order-md-1">
                    <h4 class="profile-header-text mb-3 ">Profile Info</h4>
                    <form class="needs-validation" novalidate="">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="profile-text" for="firstName">First name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="John" value=""
                                       required="">
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="profile-text" for="lastName">Last name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Johnson" value=""
                                       required="">
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="profile-text" for="username">Username</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="username" placeholder="your_nickname"
                                       required="">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="profile-text" for="email">Email <span class="">(Optional)</span></label>
                            <input type="email" class="form-control" id="email" placeholder="you@example.com">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class=''>
                            <button class="btn btn-light btn-outline-dark btn-sm btn-block" type="submit">Change profile picture</button>
                        </div>

                        <hr class="mb-4">
                        <button class="btn btn-info btn-md btn-block" type="submit">Save profile info</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

{% include 'dashboard/footer.html' %}