/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
    background-color: #2A2A2A; /* Set the background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #0A758A; /* Set the color of the scrollbar thumb */
    border-radius: 4px;
}

/* Firefox */
::-moz-scrollbar {
    width: 5px;
    background-color: #2A2A2A;
}

::-moz-scrollbar-thumb {
    background-color: #0A758A; /* Set the color of the scrollbar thumb */
    border-radius: 4px;
}

/* Internet Explorer and Edge */
::-ms-scrollbar {
    width: 5px;
    background-color: #2A2A2A;
}

::-ms-scrollbar-thumb {
    background-color: #0A758A; /* Set the color of the scrollbar thumb */
    border-radius: 4px;
}

.form-check-input:checked {
    background-color: #0dcaf0 !important;
    border-color: #0A758A !important;
}

.bg-theme-color {
    background: #000;
}

.svg-social-btn:hover {
    fill: #0dcaf0 !important;
}

.card-bottom {
    height: 24rem !important;
}

.nav-bar {
    background-color: #05090f;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: top 0.45s;
}

.nav-name-text {
    font-weight: 1000 !important;
    font-size: 1.3rem !important;
    margin-right: 2rem !important;
}

.nav-home-btn {
    font-weight: 800 !important;
}

.nav-bar-text {
    font-size: 1.1rem;
    font-weight: 300;
    font-color: #C9C9C9;
}

.nav-link:hover {
    color: #0dcaf0 !important;
}

.nav-link {
    color: #8733db !important;
}

.form-control-auth {
    margin-right: 3rem !important;
}

.form-floating {
    input-padding-t: 10rem !important;
}

.form-control::placeholder {
    text-color: white;
}

#myCarousel {
    max-width: 100%; /* Adjust as needed */
    height: 50%; /* Set the desired height */
    overflow: hidden; /* Hide overflow */
}

.carousel-image {
    object-fit: cover;
    height: 60vh;
}

.cropped-image {
    object-fit: cover;
    height: 78vh;
}

.carousel--img-div {
    position: relative;
}

.carousel-img-div::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.8) 100%);
    pointer-events: none; /* Ensures that the overlay doesn't interfere with click events */
}

.bg-welcome-img {
    background-image: url("https://solana.com/_next/image?url=https%3A%2F%2Fcdn.builder.io%2Fapi%2Fv1%2Fimage%2Fassets%252Fce0c7323a97a4d91bd0baa7490ec9139%252F1ee2a52c9c8f4a8b80f38df311e1d00e&w=3840&q=75");
}

.welcome-title {
    color: white;
}

.welcome-secondary {
    color: #C9C9C9;
}

.divider {
    margin: 3rem;
}

.footer-divider {
    color: white;
}

.feature {
    justify-content: center;
    display: flex;
}

.feature .col-md-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feature-text-header {
    font-weight: 600;
    color: white;
}

.feature-text-header-secondary {
    font-weight: 600;
    color: #0dcaf0;
}

.feature-description-text {
    font-weight: 400;
    color: #959595;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.feature-list {
    font-weight: 500;
    color: #b6b6b6;
    display: inline-block;
}

.feature-list ul {
    list-style-type: none;
    padding-left: 0.75rem;
}

.feature-list li {
    padding-bottom: 0.5rem;
}

.feature-list ul li:before {
    content: url('<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="10" fill="rgb(255 147 50 / 20%)"></circle><path d="M18.3 8.67L10.6019 16.5L5.69995 11.514L6.85908 10.335L10.6019 14.142L17.1408 7.5L18.3 8.67Z" fill="var(--CS2Color)"></path></svg>');
}

.faq-item {
    margin-bottom: 20px;
}

.question {
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    color: #C9C9C9;
}

.answer {
    display: none;
    color: #0dcaf0;
    font-size: 1rem;
    font-weight: 500;
}

.faq-title {
    font-weight: 600;
    color: white;
}

.faq-secondary {
    font-size: 1.2rem;
    font-weight: 400;
    color: #A9A9A9;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.nav-search-btn {
    background-color: black !important;
    border-radius: 16px !important;
    color: white !important;
}

.nav-search-btn::placeholder {
    color: #999 !important;
    opacity: 0.5 !important;
}

.nav-search-btn:focus-visible {
    color: white !important;
}

.login-btn {
    font-size: 1.1rem !important;
    border: 1px solid white !important;
    border-radius: 20px !important;
    color: white !important;
    font-weight: 300 !important;
}
.login-btn:hover {
    color: #0dcaf0 !important;
    border-color: #0dcaf0 !important;
}

.btn-info {
    --bs-btn-hover-color: white !important;
    --bs-btn-hover-bg: #1a1a1a !important;
}

.btn-upd {
    --bs-btn-border-radius: 16px !important;
    --bs-btn-font-weight: 500 !important;
}

.sign-in-container {
    display: flex;
    flex-direction: column;
    min-height: 75vh;
}

.auth-bg {
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.login-bg-image {
    background-image: url('https://static.vecteezy.com/system/resources/previews/012/289/683/non_2x/watercolor-stain-element-with-watercolor-paper-texture-free-png.png');
    background-position: calc(50% + 1rem) calc(50% + 4rem);
}

.reg-bg-image {
    background-image: url('https://static.vecteezy.com/system/resources/previews/012/289/703/non_2x/watercolor-stain-element-with-watercolor-paper-texture-free-png.png');
    background-position: calc(50% + 2rem) calc(50% - 1rem);
}

.welcome-bg-image {
    background-repeat: no-repeat;
    background-image: url('https://static.vecteezy.com/system/resources/previews/012/289/739/non_2x/watercolor-stain-element-with-watercolor-paper-texture-free-png.png');
    background-position: calc(50% - 0rem) calc(50% - 0rem);
    background-size: 52%;
}

.form-signin {
  flex: 1; /* Grow to fill available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form {
    color: white !important;
    background-color: #1e1e1e !important;
    border: 1px solid #0fa2bf !important;
}

.auth-form-text {
    color: #AEAEAE !important;
}

.form-floating label {
    color: #838383 !important;
    --bs-body-bg: none !important;
}

.btn-reg {
    --bs-btn-bg: #f00de4 !important;
    --bs-btn-border-color: #ffffff !important;
}

.card {
    --bs-card-bg: #002533 !important;
}

.max-h-full {
    max-height: 100% !important;
}

.portfolio-head-text {
    color: white;
    text-weight: 500;
    text-transform: uppercase;
}

.top-holdings-text {
    color: #c4c4c4 !important;
    text-weight: 500 !important;
    font-size: 0.85rem;
}

.profile-header-text {
    font-size: 1.4rem;
    color: white;
    font-weight: 500;
}

.profile-text {
    font-size: 0.9rem;
    color: #b0b0b0;
    font-weight: 200;
}

.profile-card {
    border-radius: 15px !important;
}

.profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pr-3 {
    padding-right: 1rem !important;
}

.pl-3 {
    padding-left: 1rem !important;
}

.navbar-toggler {
    border: 2px solid #303030 !important;
}

@media (max-width: 670px) {
    .container {
        --bs-gutter-x: 2.5rem !important;
    }
    .index-carousel-text-header {
        font-size: 1.3rem !important;
    }
    .index-carousel-text-secondary {
        font-size: 0.9rem !important;
    }
}

@media (max-width: 767px) {
    .welcome-secondary {
        font-size: 1.1rem !important;
    }
    .faq-secondary {
        font-size: 1.1rem !important;
    }
    .scale-padding-768 {
        padding-right: 1rem;
        padding-left: 1rem;
    }

}

@media (max-width: 991px) {
    .feature-description-text {
        font-size: 1rem !important;
    }
    .feature .col-md-5,
    .feature .col-md-6 {
        width: 100%;
    }

    #leftColumn {
        order: 2 !important;
    }
    #rightColumn {
        order: 1 !important;
    }

    #welcome {
        padding-top: 0rem !important;
        margin-top: 0rem !important;
    }

}

@media (max-width: 1199px) {
    .search-form {
        padding-left: 1rem !important;
    }
}

@media (max-width: 1399px) {

}

.carousel-nft-img {
    border-radius: 0.35rem !important;
}

.carousel-indicators {
    position: relative !important;
}

.nft-carousel-card {
    --bs-card-border-width: 1px !important;
    --bs-card-border-color: #454545 !important;
    width: 10rem;
}

.nft-card-title {
    font-size: 0.9rem;
    color: white;
}

.price {
    color: white;
}