/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
    background-color: #2A2A2A; /* Set the background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #0A758A; /* Set the color of the scrollbar thumb */
    border-radius: 4px;
}

/* Firefox */
::-moz-scrollbar {
    width: 5px;
    background-color: #2A2A2A;
}

::-moz-scrollbar-thumb {
    background-color: #0A758A; /* Set the color of the scrollbar thumb */
    border-radius: 4px;
}

/* Internet Explorer and Edge */
::-ms-scrollbar {
    width: 5px;
    background-color: #2A2A2A;
}

::-ms-scrollbar-thumb {
    background-color: #0A758A; /* Set the color of the scrollbar thumb */
    border-radius: 4px;
}

.form-check-input:checked {
    background-color: #0dcaf0 !important;
    border-color: #0A758A !important;
}

.bg-theme-color {
    background: #000;
}

.svg-icon {
    padding-right: 1rem;
}

.bg-image-auth {

}

.nav-bar {
    background-color: #0E0E0E;
    border-bottom: 1px solid #1B6873;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-home-btn {
    font-weight: 800 !important;
}

.nav-bar-text {
    font-size: 1.1rem;
    font-weight: 700;
    font-color: #C9C9C9;
}

.nav-link {
    color: #8733db !important;
}

.form-control::placeholder {
    text-color: white;
}

#myCarousel {
    max-width: 100%; /* Adjust as needed */
    height: 50%; /* Set the desired height */
    overflow: hidden; /* Hide overflow */
}

.carousel-image {
    object-fit: cover;
    height: 60vh;
}

.carousel-item {
    height: 270px;
}

.cropped-image {
    object-fit: cover;
    height: 78vh;
}

.carousel--img-div {
    position: relative;
}

.carousel-img-div::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.8) 100%);
    pointer-events: none; /* Ensures that the overlay doesn't interfere with click events */
}

.bg-welcome-img {
    background-image: url("https://solana.com/_next/image?url=https%3A%2F%2Fcdn.builder.io%2Fapi%2Fv1%2Fimage%2Fassets%252Fce0c7323a97a4d91bd0baa7490ec9139%252F1ee2a52c9c8f4a8b80f38df311e1d00e&w=3840&q=75");
}

.welcome-title {
    color: white;
}

.welcome-secondary {
    color: #C9C9C9;
}

.divider {
    margin: 5rem 0;
}

.footer-divider {
    color: white;
}

.feature {
    justify-content: center;
    display: flex;
}

.feature .col-md-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feature-text-header {
    font-weight: 600;
    color: white;
}

.feature-text-header-secondary {
    font-weight: 600;
    color: #0dcaf0;
}

.feature-description-text {
    font-weight: 400;
    color: #959595;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.feature-list {
    font-weight: 500;
    color: #b6b6b6;
    display: inline-block;
}

.feature-list ul {
    list-style-type: none;
    padding-left: 0.75rem;
}

.feature-list li {
    padding-bottom: 0.5rem;
}

.feature-list ul li:before {
    content: url('<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="10" fill="rgb(255 147 50 / 20%)"></circle><path d="M18.3 8.67L10.6019 16.5L5.69995 11.514L6.85908 10.335L10.6019 14.142L17.1408 7.5L18.3 8.67Z" fill="var(--CS2Color)"></path></svg>');
}

.faq-item {
    margin-bottom: 20px;
}

.question {
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    color: #C9C9C9;
}

.answer {
    display: none;
    color: #0dcaf0;
    font-size: 1rem;
    font-weight: 500;
}

.faq-title {
    font-weight: 600;
    color: white;
}

.faq-secondary {
    font-size: 1.2rem;
    font-weight: 400;
    color: #A9A9A9;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.img-container {
    padding-right: 3rem;
}

.nav-search-btn {
    background-color: black !important;
    border-radius: 16px !important;
    color: white !important;
}

.nav-search-btn::placeholder {
    color: #999 !important;
    opacity: 0.5 !important;
}

.nav-search-btn:focus-visible {
    color: white !important;
}

.login-btn {
    color: white !important;
    font-weight: 600 !important;
}

.btn-upd {
    --bs-btn-border-radius: 16px !important;
    --bs-btn-font-weight: 500 !important;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  min-height: 75vh;

}

.auth-bg-image {
  background-image: url('https://static.vecteezy.com/system/resources/previews/034/001/957/non_2x/abstract-purple-smoke-free-png.png');
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-position: calc(50% + 2rem) calc(50% - 1rem);
}

.form-signin {
  flex: 1; /* Grow to fill available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form {
    color: white !important;
    background-color: #1e1e1e !important;
    border: 1px solid #0fa2bf !important;
}

.auth-form-text {
    color: #AEAEAE !important;
}

.form-floating label {
    color: #838383 !important;
    --bs-body-bg: none !important;
}

.btn-reg {
    --bs-btn-bg: #f00de4 !important;
    --bs-btn-border-color: #ffffff !important;
}